/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#005372; }
:-webkit-full-screen { background:#005372; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:1366px; height:800px; background: #fff !important; }
.paper-vertical { width:1366px; height:100%; }
.paper-horizontal { width:16960px; height:812px; }
/* ColorBox Core Style:The following CSS is consistent between example themes and should not be altered. */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling:touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
/* Colorbox User Style: */
#colorbox{
	border-radius:12px;
    box-shadow:0 0 10px 10px #CCCCCC;
}
    #colorbox, #cboxOverlay, #cboxContent, .cboxIframe, #cboxLoadedContent, #cboxLoadingOverlay { background:#fff; }
    #cboxContent{ overflow:hidden;}
    #cboxMiddleLeft, #cboxMiddleRight { width:8px; }
    #cboxTopCenter{ height:24px; } 
    #cboxBottomCenter { height:8px; }
	#cboxError{padding:50px;}
	#cboxLoadedContent{margin-top:28px;}
	#cboxTitle, #cboxCurrent { position:absolute; top:4px; left:0; color:#949494; }
	#cboxTitle{ text-align:center; width:100%; }
	#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
	#cboxPrevious, #cboxNext { position:absolute; top:50%; margin-top:-32px; width:33px; height:65px; text-indent:-9999px;}
	#cboxPrevious{left:0px; background:url(../images/lb_controls.png) no-repeat top left; }
	#cboxNext{right:0px; background:url(../images/lb_controls.png) no-repeat top right; }
	#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
	#cboxClose{position:absolute; top:2px; right:0px; display:block; background:url(../images/lb_controls.png) no-repeat top center; width:26px; height:24px; text-indent:-9999px;}
@media all and (max-height:800px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1366px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
.flipwrap {
	-webkit-perspective:800px;
	perspective:800px;
}
.mso.flipcard-side,.mso.flipcard-up {
	width:100% !important;
	height:100% !important;
	perspective:inherit;
}
.flipwrap > .mso > .state {
	-webkit-transition:-webkit-transform 1s;
	transition:transform 1s;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.flipwrap > .mso > .state * {
	-webkit-backface-visibility:initial;
}
.mso.flipcard-side > .state, .mso.flipcard-up > .state {
	display:block;
	opacity:1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	pointer-events:auto;
	transform-style: inherit; // this fix is for FF only, so -webkit prefix is not needed
}
.mso.flipcard-side > .state:nth-child(2) {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
.mso.flipped.flipcard-side > .state:nth-child(2), .mso.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.mso.flipped.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}
.mso.flipcard-up > .state:nth-child(2) {
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
}
.mso.flipped.flipcard-up > .state:nth-child(2), .mso.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
}
.mso.flipped.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(180deg);
	transform:rotateX(180deg);
}
#viewer-options-wrap {
	position:fixed;bottom:0;left:0;width:100%;padding:4px;
	font-family:'Gill Sans','Arial Narrow',Helvetica,Arial,sans-serif;
	transform:translateZ(0);
	transition:transform .5s;
}
#viewer-options-bar{
	position:absolute;bottom:0;left:0;width:100%;
	background-color:#000; color:#fff; fill:#fff;
	height:40px; display:table;
}
#viewer-options-bar.light { color:#000; fill:#000; }
#viewer-options-wrap.no-options #viewer-options-bar {display:none;}
#viewer-options-bar > span { display:table-cell; vertical-align:middle; cursor:default;}
#viewer-logo { display:inline-block; margin-right:14px;}
#viewer-logo img, #viewer-logo object {
	height:36px;
    vertical-align:middle;
    padding:2px 4px;
}
#viewer-title{ padding-left:6px; white-space:nowrap; }
#viewer-pagecount{ text-align:center; width:100%; }
#viewer-options { text-align:right; min-width:340px; }
.viewer-option-btn { cursor:pointer;display:inline-block;margin-right:24px;width:24px;padding:0;}
.viewer-option-btn > svg { position:relative; }
::-webkit-scrollbar #viewer-thumb-wrap {
    width:0px;  background:transparent;
}
#viewer-thumb-wrap {
    position:fixed; bottom:-50px; padding-bottom:46px;
    left:0; right:0; margin:auto;
    overflow-y:hidden; overflow-x:auto;
    background-color:rgba(255,255,255,.7);
    -webkit-overflow-scrolling:touch;
    scroll-behavior: smooth;
}
#viewer-options-thumb-images { margin-bottom:30px; padding-left:24px}
.viewer-page-thumb {
    display:table-cell;
    cursor:pointer;
    padding:24px 0;
	pointer-events:auto;
	-ms-transform:scale(.9); -webkit-transform:scale(.9); transform:scale(.9);
	-webkit-transition:transform .4s; transition:transform .4s;
}
.viewer-page-thumb:hover {
	-ms-transform:scale(1); -webkit-transform:scale(1); transform:scale(1);
}
.viewer-page-thumb > img { box-shadow:0 0 24px rgba(0,0,0,.5); }
.viewer-page-thumb.active > img { outline:2px solid #69717d; }
.dragging, .dragging * { cursor:move !important; }
.dragging, .dragging * { cursor:move !important; }
#viewer_progress_bar {width:0;left:0;height:6px;position:fixed;bottom:40px;background:#69717d;}
#viewer-options-wrap.no-options #viewer_progress_bar {bottom:0;}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
     .viewer-option-btn{height:40px} /*IE10/11 fix*/
}
#viewer-options-bar #view-toggle {
    position:absolute;
    right:8px;
    bottom:120px;
    display:block;
    width:70px;
    height:50px;
    border-radius:12px 12px 0 0;
    cursor:pointer;
    display:none;
}
#viewer-options-bar #view-toggle svg {
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    margin:auto;
}
html[data-dir="rtl"] #viewer-thumb-wrap { direction:rtl; }
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
     .viewer-option-btn{height:40px} /*IE10/11 fix*/
}

@media all and (max-width:780px) {
	#viewer-thumb-wrap { bottom:-20px; }
	#viewer-options-wrap.collapsed {
		-ms-transform:translateY(120px);
		-webkit-transform:translateY(120px) translateZ(0);
		transform:translateY(120px) translateZ(0);
		transition:transform .5s;
	}
	#viewer-options-wrap.collapsed #view-toggle svg {
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	#viewer-options-wrap.collapsed #viewer-options-thumb-images { display:none; }
	#viewer-options-bar #view-toggle { display:none; }
	#viewer_progress_bar {bottom:120px;}
	#viewer-options-bar{height:120px;display:block;}
	#viewer-pagecount{right:24px;width:auto;}
	#viewer-options-bar > span{display:inline-block;position:absolute;padding-top:14px}
	#viewer-options{display:table;table-layout:fixed;width:98%;bottom:12px;}
	.viewer-option-btn{display:table-cell;height:auto;min-width:44px;max-width:50px;padding:12px;width:2%;position:relative;}
	.viewer-option-btn > svg {max-width:50px;position:absolute;left:0;right:0;bottom:10px;margin:auto;}
	.viewer-option-btn:first-child{padding-left:6px;}
	.viewer-option-btn:last-child{padding-right:18px;}
	#viewer-options-thumb-images{margin-bottom:90px;}
	body:not(.responsive) .viewer-page-thumb > img {max-width:175px;}
}
.pageItem.fixed-pos-elem { position:fixed !important; }
.fixed-center-x {
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fixed-center-y {
	top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fixed-center-y.fixed-center-x {
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#item575 {
	width:1366px !important;
	height:800px !important;
}

#item16624 {
	opacity:0.80;
	width:1366px !important;
	height:800px !important;
	background:#005372;
}

@keyframes flyinfromleft-1409 {
	0% {
		transform:translate(-307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromleft-1409 {
	0% {
		-webkit-transform:translate(-307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
@keyframes flyinfrombottom-1441 {
	0% {
		transform:translate(-1px,233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.38;
	}
}
@-webkit-keyframes flyinfrombottom-1441 {
	0% {
		-webkit-transform:translate(-1px,233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.38;
	}
}
#item16878 {
	width:384px !important;
	left:368px !important;
	top:499px !important;
	min-height:59px !important;
}

#item16886 {
	width:60px !important;
	left:28px !important;
	min-height:43px !important;
}

#item16917 {
	width:95px !important;
	height:102px !important;
	top:5px !important;
}

#item9848 {
	width:38px !important;
	height:9px !important;
	border-radius:12px;
	background:#e6e7e8;
	border:solid 4.20791312051518px #69717d;
}

#item9849 {
	width:38px !important;
	height:9px !important;
	top:11px !important;
	border-radius:12px;
	background:#e6e7e8;
	border:solid 4.20791312051518px #69717d;
}

#item9850 {
	width:38px !important;
	height:9px !important;
	top:21px !important;
	border-radius:12px;
	background:#e6e7e8;
	border:solid 4.20791312051518px #69717d;
}

#item6860_9845 {
	width:37.8714038158136px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item6860.fixed-pos-elem {
	width:82px !important;
	height:69px !important;
	left:auto !important;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.18);
	background:#69717d;
	padding:0px 15px 0px 15px;
	right:34px !important;
}

#item19076 {
	width:320px !important;
	height:640px !important;
	background:#005372;
}

@keyframes flyinfromleft-16936 {
	0% {
		transform:translate(-307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromleft-16936 {
	0% {
		-webkit-transform:translate(-307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item17017 {
	width:38px !important;
	left:18px !important;
	min-height:27px !important;
}

#item17040 {
	width:60px !important;
	height:64px !important;
	top:3px !important;
}

@keyframes flyinfrombottom-16941 {
	0% {
		transform:translate(-1px,233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.38;
	}
}
@-webkit-keyframes flyinfrombottom-16941 {
	0% {
		-webkit-transform:translate(-1px,233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.38;
	}
}
#item16993 {
	width:149px !important;
	left:36px !important;
	top:286px !important;
	min-height:61px !important;
}

#item7289 {
	width:547px !important;
	left:473px !important;
	top:60px !important;
	min-height:726px !important;
}

#item19083 {
	width:320px !important;
	height:640px !important;
	background:#005372;
}

#item19307 {
	width:248px !important;
	left:36px !important;
	top:36px !important;
	min-height:568px !important;
}

#item4867 {
	width:602px !important;
	height:96px !important;
	top:36px !important;
	background:#69717d;
}

#item387 {
	width:421px !important;
	left:182px !important;
	top:60px !important;
	min-height:742px !important;
}

#item14335 {
	width:18px !important;
	height:59px !important;
	left:1286px !important;
	top:525px !important;
}

#item14341 {
	width:18px !important;
	height:59px !important;
	left:671px !important;
	top:525px !important;
}

@keyframes custom-14347 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes custom-14347 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item14347 {
	width:541px !important;
	height:337px !important;
	left:716px !important;
	top:403px !important;
}

#item19356 {
	width:320px !important;
	height:1401px !important;
	background:#005372;
}

#item17136 {
	width:320px !important;
	height:80px !important;
	top:36px !important;
	background:#69717d;
}

#item17137 {
	width:248px !important;
	left:36px !important;
	top:58px !important;
	min-height:42px !important;
}

#item22873 {
	width:8px !important;
	height:26px !important;
	left:272px !important;
	top:54px !important;
}

#item22879 {
	width:8px !important;
	height:26px !important;
	top:54px !important;
}

@keyframes custom-22885 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes custom-22885 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item22885 {
	width:240px !important;
	height:149px !important;
	left:20px !important;
}

#item20083_19430 {
	width:280px !important;
	position:absolute;
	top:909px;
	left:-16px;
}

#item20083 {
	width:248px !important;
	left:36px !important;
	top:305px !important;
	min-height:883px !important;
}

#item664 {
	width:421px !important;
	height:641px !important;
	left:182px !important;
	top:73px !important;
}

#item19434 {
	width:320px !important;
	height:1045px !important;
	background:#005372;
}

#item17241 {
	width:248px !important;
	left:36px !important;
	top:239px !important;
	min-height:769px !important;
}

#item761 {
	width:998px !important;
	height:668px !important;
	left:183px !important;
	top:132px !important;
	background:#fff;
}

#item1330 {
	width:581px !important;
	height:96px !important;
	top:36px !important;
	background:#69717d;
	padding:0px 0px 0px 200px;
}

#item15747_20842 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item15747 {
	width:171px !important;
	height:518px !important;
	background:#e6e7e8;
	padding:12px;
}

#item15694_20239 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item15694_15720 {
	width:145.471428571429px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
	margin-top:0px;
	margin-bottom:0px;
}

#item15694 {
	width:171px !important;
	height:480px !important;
	top:19px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16162 {
	width:171px !important;
	height:518px !important;
	left:410px !important;
	top:175px !important;
}

#item16100_20896 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16100 {
	width:171px !important;
	height:518px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16123_20287 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16123_16296 {
	width:145.471428571429px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
	margin-top:0px;
	margin-bottom:0px;
}

#item16123 {
	width:171px !important;
	height:480px !important;
	top:19px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16384 {
	width:171px !important;
	height:518px !important;
	left:783px !important;
	top:175px !important;
}

#item16323_20920 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16323 {
	width:171px !important;
	height:518px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16346_20311 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16346_16470 {
	width:145.471428571429px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
	margin-top:0px;
	margin-bottom:0px;
}

#item16346 {
	width:171px !important;
	height:480px !important;
	top:19px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16479 {
	width:171px !important;
	height:518px !important;
	left:972px !important;
	top:175px !important;
}

#item16189_20872 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16189 {
	width:171px !important;
	height:518px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16212_20263 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16212_16239 {
	width:145.471428571429px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
	margin-top:0px;
	margin-bottom:0px;
}

#item16212 {
	width:171px !important;
	height:480px !important;
	top:19px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16248 {
	width:171px !important;
	height:518px !important;
	left:596px !important;
	top:175px !important;
}

#item16019_20778 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16019 {
	width:171px !important;
	height:518px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16042_20214 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item16042_16088 {
	width:145.471428571429px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
	margin-top:0px;
	margin-bottom:0px;
}

#item16042 {
	width:171px !important;
	height:480px !important;
	top:19px !important;
	background:#e6e7e8;
	padding:12px;
}

#item16097 {
	width:171px !important;
	height:518px !important;
	left:223px !important;
	top:175px !important;
}

#item19470 {
	width:320px !important;
	height:2332px !important;
	background:#005372;
}

#item19472 {
	width:320px !important;
	height:80px !important;
	top:36px !important;
	background:#69717d;
}

#item17304 {
	width:248px !important;
	left:36px !important;
	top:58px !important;
	min-height:38px !important;
}

#item17643_20978 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17643 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17619_20616 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17619_20640 {
	width:191px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17619 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17617 {
	width:248px !important;
	height:400px !important;
	left:36px !important;
	top:145px !important;
}

#item17446_21156 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17446 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17422_21341 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17422_21365 {
	width:191px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
	margin-top:0px;
	margin-bottom:0px;
}

#item17422 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17420 {
	width:248px !important;
	height:400px !important;
	left:36px !important;
	top:581px !important;
}

#item17495_21132 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17495 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17471_20337 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17471_20361 {
	width:191px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17471 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17469 {
	width:248px !important;
	height:400px !important;
	left:36px !important;
	top:1453px !important;
}

#item17545_21752 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17545 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17521_20498 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17521_20522 {
	width:191px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17521 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17519 {
	width:248px !important;
	height:400px !important;
	left:36px !important;
	top:1889px !important;
}

#item17594_21049 {
	width:75.9998571428574px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17594 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17570_20458 {
	width:113px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17570_20482 {
	width:191px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item17570 {
	width:248px !important;
	height:400px !important;
	background:#e6e7e8;
	padding:12px;
}

#item17568 {
	width:248px !important;
	height:400px !important;
	left:36px !important;
	top:1017px !important;
}

#item2120 {
	width:130px !important;
	min-height:17px !important;
}

#item2215 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:265px !important;
}

#item2147 {
	width:130px !important;
	min-height:17px !important;
}

#item2218 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:301px !important;
}

#item2174 {
	width:130px !important;
	min-height:17px !important;
}

#item2228 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:337px !important;
}

#item2201 {
	width:130px !important;
	min-height:17px !important;
}

#item2231 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:373px !important;
}

#item6805 {
	width:748px !important;
	height:96px !important;
	top:36px !important;
	background:#69717d;
	padding:0px 0px 0px 200px;
}

#item9671 {
	width:566px !important;
	height:565px !important;
	left:182px !important;
	top:176px !important;
}

#item12149 {
	width:512px !important;
	left:23px !important;
	min-height:1123px !important;
}

#item14979 {
	width:353px !important;
	left:200px !important;
	min-height:36px !important;
}

#item19480 {
	width:320px !important;
	height:2387px !important;
	background:#005372;
}

#item17781 {
	width:284px !important;
	top:36px !important;
	background:#69717d;
	min-height:80px !important;
}

#item19481 {
	width:248px !important;
	left:36px !important;
	top:343px !important;
	min-height:2005px !important;
}

#item21804 {
	width:248px !important;
	left:36px !important;
	top:41px !important;
	min-height:72px !important;
}

#item12016 {
	width:566px !important;
	height:666px !important;
	left:182px !important;
	top:84px !important;
}

#item12214 {
	width:512px !important;
	left:16px !important;
	min-height:1065px !important;
}

#item15006 {
	width:298px !important;
	left:197px !important;
	min-height:46px !important;
}

#item15077 {
	width:130px !important;
	min-height:17px !important;
}

#item15074 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:265px !important;
}

#item15103 {
	width:130px !important;
	min-height:17px !important;
}

#item15100 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:301px !important;
}

#item15129 {
	width:130px !important;
	min-height:17px !important;
}

#item15126 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:337px !important;
}

#item15155 {
	width:130px !important;
	min-height:17px !important;
}

#item15152 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:373px !important;
}

#item19596 {
	width:320px !important;
	height:2183px !important;
	background:#005372;
}

#item19602 {
	width:248px !important;
	left:36px !important;
	top:291px !important;
	min-height:1854px !important;
}

#item10385 {
	width:528px !important;
	left:197px !important;
	top:69px !important;
	min-height:672px !important;
}

#item15031 {
	width:312px !important;
	left:197px !important;
	min-height:40px !important;
}

#item15200 {
	width:130px !important;
	min-height:17px !important;
}

#item15197 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:265px !important;
}

#item15226 {
	width:130px !important;
	min-height:17px !important;
}

#item15223 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:301px !important;
}

#item15252 {
	width:130px !important;
	min-height:17px !important;
}

#item15249 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:337px !important;
}

#item15279 {
	width:130px !important;
	min-height:17px !important;
}

#item15276 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:373px !important;
}

#item19668 {
	width:320px !important;
	height:1544px !important;
	background:#005372;
}

#item18035 {
	width:248px !important;
	left:36px !important;
	top:291px !important;
	min-height:1215px !important;
}

#item12255 {
	width:566px !important;
	height:656px !important;
	left:182px !important;
	top:96px !important;
}

#item12290 {
	width:512px !important;
	left:16px !important;
	min-height:1599px !important;
}

#item15060 {
	width:296px !important;
	left:195px !important;
	min-height:36px !important;
}

#item15328 {
	width:130px !important;
	min-height:17px !important;
}

#item15325 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:265px !important;
}

#item15354 {
	width:130px !important;
	min-height:17px !important;
}

#item15351 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:301px !important;
}

#item15380 {
	width:130px !important;
	min-height:17px !important;
}

#item15377 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:337px !important;
}

#item15406 {
	width:130px !important;
	min-height:17px !important;
}

#item15403 {
	width:130px !important;
	height:17px !important;
	left:36px !important;
	top:373px !important;
}

#item19678 {
	width:320px !important;
	height:3420px !important;
	background:#005372;
}

#item19681 {
	width:248px !important;
	left:36px !important;
	top:291px !important;
	min-height:3093px !important;
}

#item6940_10021 {
	width:14.0078132152557px !important;
	position:relative;
	left:auto !important;
	top:4px !important;
}

#item6940 {
	width:421px !important;
	left:909px !important;
	top:152px !important;
	min-height:248px !important;
}

#item16790 {
	width:566px !important;
	left:182px !important;
	top:172px !important;
	min-height:321px !important;
}

#item21648 {
	width:437px !important;
	height:96px !important;
	left:893px !important;
	top:36px !important;
	background:#69717d;
}

#item7779 {
	width:421px !important;
	left:909px !important;
	top:56px !important;
	min-height:62px !important;
}

#item21655 {
	width:285px !important;
	left:-158px !important;
	top:370px !important;
	min-height:200px !important;
}

#item19732 {
	width:320px !important;
	height:1179px !important;
	background:#005372;
}

#item18362_21780 {
	width:14.0078132152557px !important;
	position:relative;
	left:auto !important;
	top:auto !important;
}

#item18362 {
	width:248px !important;
	left:36px !important;
	top:932px !important;
	min-height:229px !important;
}

#item18409 {
	width:248px !important;
	left:36px !important;
	top:46px !important;
	min-height:410px !important;
}

#item18385 {
	width:284px !important;
	height:80px !important;
	top:830px !important;
	background:#69717d;
}

#item21828 {
	width:248px !important;
	left:36px !important;
	top:850px !important;
	min-height:41px !important;
}

p.autoParaStyle7 {
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:36px;
	color:#ede8d6;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle6 {
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:36px;
	color:#ede8d6;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	border-bottom:solid 0.5px #ede8d6;
	text-align:left;
}

p.autoParaStyle5 {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:14px;
	line-height:19px;
	color:#69717d;
	letter-spacing:0.005em;
	text-align:left;
}

p.autoParaStyle4 {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:13px;
	line-height:19px;
	color:#69717d;
	text-align:left;
}

p.autoParaStyle3 {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	margin-top:7px;
	text-align:left;
}

p.autoParaStyle2 {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:10.2px;
	line-height:10.4px;
	color:#fff;
	margin-bottom:10px;
	text-align:right;
}

p.autoParaStyle1 {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16.2px;
	line-height:16.5px;
	color:#fff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	margin-bottom:17px;
	text-align:right;
}

p.Custom-V_-_subtitle-level-1 {
	font-family:"Open Sans",sans-serif;
	font-size:25px;
	line-height:26px;
	color:#fff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	margin-bottom:16px;
	text-align:left;
}

p.Custom-V_-_sub-title--align-right {
	font-family:"Open Sans",sans-serif;
	font-size:22px;
	line-height:24px;
	color:#e6e7e8;
	margin-top:23px;
	margin-bottom:24px;
	text-align:right;
	-webkit-column-span:all;
	column-span:all;
}

p.Custom-V_-_p-noSpace {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	-moz-text-align-last:left;
	text-align-last:left;
	text-align:justify;
}

p.Custom-V_-_p-body--BOLD {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	margin-top:23px;
	text-align:left;
}

ul.Custom-V_-_list > li {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	padding-left:24px;
	text-align:left;
}
ul.Custom-V_-_list > li::before {
	content:'\25A0';
	position:absolute;
	display:inline-block;
	left:0px;
	width:0;
}

p.Custom-V_-_CARTOLA {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	text-transform:uppercase;
	margin-top:23px;
	text-align:left;
}

p.Custom-V_-_p-BOLD {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	text-align:left;
}

p.Basic-Paragraph {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.p-spacing-0 {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
	line-height:5px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.Custom-V_-_anchor {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.Custom-V_-_link-phone {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:13px;
	line-height:19px;
	color:#69717d;
	text-align:left;
}

p.Custom-V_-_p-left {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:13px;
	line-height:19px;
	color:#69717d;
	margin-bottom:16px;
	text-align:left;
}

p.Custom-V_-_card-curriculo_-_p-left-13_18 {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:14px;
	line-height:19px;
	color:#69717d;
	text-align:left;
}

p.Custom-V_-_card-curriculo_-_nome {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:15px;
	line-height:22px;
	color:#a88e45;
	letter-spacing:-0.020em;
	text-align:left;
}

p.Custom-V_-_sub-title {
	font-family:"Open Sans",sans-serif;
	font-size:21px;
	line-height:22px;
	color:#e6e7e8;
	margin-top:23px;
	margin-bottom:24px;
	text-align:left;
	-webkit-column-span:all;
	column-span:all;
}

p.Custom-V_-_h1-big {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:29px;
	line-height:30px;
	color:#ffffff;
	text-transform:uppercase;
	margin-bottom:36px;
	text-align:left;
}

p.Custom-V_-_summary_-_index--LEVEL2 {
	font-weight:500;
	font-family:"Open Sans",sans-serif;
	font-size:14px;
	line-height:23px;
	color:#ffffff;
	text-transform:uppercase;
	padding-left:29px;
	padding-bottom:10px;
	margin-bottom:2px;
	border-bottom:solid 0.5px #fff;
	text-align:left;
}

p.Custom-V_-_summary_-_index {
	font-weight:500;
	font-family:"Open Sans",sans-serif;
	font-size:17px;
	line-height:23px;
	color:#ffffff;
	text-transform:uppercase;
	margin-top:4px;
	padding-bottom:10px;
	margin-bottom:3px;
	border-bottom:solid 0.5px #fff;
	text-align:left;
}

p.Custom-V_-_p-body {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:15px;
	line-height:21px;
	color:#c8cace;
	margin-bottom:23px;
	text-align:left;
}

p.body-left {
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:21px;
	color:#000;
	margin-bottom:20px;
	text-align:left;
}

p.inbox-menu {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	margin-bottom:22px;
	text-align:left;
}

p._1366-x-768-H_-_card-curriculo_-_p-left-13_18 {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:13px;
	line-height:18px;
	color:#69717d;
	text-align:left;
}

p._1366-x-768-H_-_card-curriculo_-_nome {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:15px;
	line-height:22px;
	color:#a88e45;
	letter-spacing:-0.020em;
	text-align:left;
}

p._1366-x-768-H_-_summary_-_index--LEVEL2 {
	font-weight:500;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:28px;
	color:#ffffff;
	text-transform:uppercase;
	padding-left:29px;
	padding-bottom:16px;
	margin-bottom:7px;
	border-bottom:solid 0.5px #fff;
	text-align:left;
}

p._1366-x-768-H_-_summary_-_index {
	font-weight:500;
	font-family:"Open Sans",sans-serif;
	font-size:19px;
	line-height:28px;
	color:#ffffff;
	text-transform:uppercase;
	padding-bottom:18px;
	margin-bottom:5px;
	border-bottom:solid 0.5px #fff;
	text-align:left;
}

p._1366-x-768-H_-_link-phone {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:13px;
	line-height:19px;
	color:#69717d;
	text-align:left;
}

p.p-dropcaps {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	margin-bottom:23px;
	-moz-text-align-last:left;
	text-align-last:left;
	text-align:justify;
}
p.p-dropcaps:first-child:first-letter {
	font-size:75.4px;
	padding:4px 4px 0 0;
	float:left;
}

ul._1366-x-768-H_-_list > li {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	padding-left:24px;
	text-align:left;
}
ul._1366-x-768-H_-_list > li::before {
	content:'\25A0';
	position:absolute;
	display:inline-block;
	left:0px;
	width:0;
}

p._1366-x-768-H_-_p-body--BOLD {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	margin-top:23px;
	text-align:left;
}

p._1366-x-768-H_-_p-left {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:13px;
	line-height:19px;
	color:#69717d;
	margin-bottom:23px;
	text-align:left;
}

p._1366-x-768-H_-_p-BOLD {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	text-align:left;
}

p._1366-x-768-H_-_CARTOLA {
	font-weight:bold;
	font-family:open-sans,"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	text-transform:uppercase;
	margin-top:23px;
	-moz-text-align-last:left;
	text-align-last:left;
	text-align:justify;
}

p._1366-x-768-H_-_p-noSpace {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	-moz-text-align-last:left;
	text-align-last:left;
	text-align:justify;
}

p._1366-x-768-H_-_p-body {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	line-height:23px;
	color:#c8cace;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	margin-bottom:23px;
	-moz-text-align-last:left;
	text-align-last:left;
	text-align:justify;
}

p._1366-x-768-H_-_sub-title--align-right {
	font-family:"Open Sans",sans-serif;
	font-size:36px;
	line-height:43.2px;
	color:#e6e7e8;
	margin-top:23px;
	margin-bottom:24px;
	text-align:right;
	-webkit-column-span:all;
	column-span:all;
}

p._1366-x-768-H_-_sub-title {
	font-family:"Open Sans",sans-serif;
	font-size:36px;
	line-height:43.2px;
	color:#e6e7e8;
	margin-top:23px;
	margin-bottom:24px;
	text-align:left;
	-webkit-column-span:all;
	column-span:all;
}

p.h1-big-space-after-0 {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:48px;
	line-height:49px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:left;
}

p._1366-x-768-H_-_h1-big {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:48px;
	line-height:49px;
	color:#ffffff;
	text-transform:uppercase;
	margin-bottom:36px;
	text-align:left;
}

p._1366-x-768-H_-_anchor {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p._1366-x-768-H_-_subtitle-level-1 {
	font-family:"Open Sans",sans-serif;
	font-size:34px;
	line-height:40.8px;
	color:#fff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	margin-bottom:16px;
	text-align:left;
}

p.No-Paragraph-Style {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

span.autoCharStyle2 {
	font-family:"Font Awesome 6 Brands","Times New Roman", Times, serif;
}

span.autoCharStyle1 {
	font-weight:300;
	font-family:"Font Awesome 6 Brands";
}

span.Custom-V_-_cinza {
	color:#69717d;
}

span.hiperlink--icon {
	font-weight:300;
	font-size:16px;
	color:#ede8d6;
}

span.Custom-V_-_nobreak {
	white-space:nowrap;
}

span.Custom-V_-_link {
	font-size:16px;
	color:#ede8d6;
}

span.Custom-V_-_bold {
	font-weight:bold;
	color:#e6e7e8;
}

span.Custom-V_-_white {
	color:#fff;
}

span.drop {
	font-weight:300;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	color:#e6e7e8;
	letter-spacing:0.050em;
}

span._1366-x-768-H_-_bold {
	font-weight:bold;
	color:#e6e7e8;
}

span._1366-x-768-H_-_white {
	color:#fff;
}

span._1366-x-768-H_-_link {
	font-size:16px;
	color:#ede8d6;
}

span.link-phone {
	font-weight:bold;
	font-family:"Open Sans",sans-serif;
	font-size:17px;
	color:#69717d;
}

span._1366-x-768-H_-_nobreak {
	white-space:nowrap;
}

span._1366-x-768-H_-_cinza {
	color:#69717d;
}

span.None {
}
#in5footer,  #prefooter {display:none;}

[class*=" mq-"]{ display:none; }
.mq-default { display:block; }
@media all and (max-width:500px){ [class*=" mq-"], .mq-default { display:none; } .mq-320 {display:block; } }

/*from autran.css*/
ul._1366-x-768-H_-_list > li::before {
    content: '\25A0' !important;
};

ul.Custom-V_-_list > li::before{
    content: '\25A0' !important;
};

@media (max-width: 780px) {

    #viewer-options-bar #view-toggle {
        display: none !important;
}
}

